# compiled output files and executables
build
out
target
*.wasm
*.wasi.cjs
*.wasi.d.cts
*.wasi-browser.js
wasi-worker*.mjs
browser.js

# ignore dist contents except .node files
dist/*
!dist/*.node
!*.node

# dependencies
vendor
node_modules

# log files
logs
*.log
