[submodule "examples/package-template-pnpm"]
	path = examples/package-template-pnpm
	url = https://github.com/napi-rs/package-template-pnpm.git
[submodule "examples/node-rs"]
	path = examples/node-rs
	url = https://github.com/napi-rs/node-rs.git
[submodule "examples/napi-rs"]
	path = examples/napi-rs
	url = https://github.com/napi-rs/napi-rs.git
[submodule "examples/cross-build"]
	path = examples/cross-build
	url = https://github.com/napi-rs/cross-build
