[submodule "examples/package-template-pnpm"]
	path = examples/package-template-pnpm
	url = https://github.com/napi-rs/package-template-pnpm.git
[submodule "examples/node-rs"]
	path = examples/node-rs
	url = https://github.com/napi-rs/node-rs.git
[submodule "examples/napi-rs"]
	path = examples/napi-rs
	url = https://github.com/napi-rs/napi-rs.git
[submodule "packages/container-compose"]
	path = packages/container-compose
	url = https://github.com/full-chaos/container-compose
[submodule "packages/apple-container"]
	path = packages/apple-container
	url = https://github.com/apple/container
